<%= link_to like_posts_path(@post.id), class: "like_button", method: :post, remote: true do%>
  <% if @post.liked_by?(current_user) %>
    <i class="fa-heart fas fa-lg"></i>
  <% else %>
    <i class="fa-heart far fa-lg"></i>
  <% end %>
  <span><%= @post.likes.count%></span>
<% end%>



