<ul class="nav nav-tabs justify-content-center post-right mt-4">
  <li class="nav-item">
    <a class="nav-link active" id="comments-tab" data-toggle="tab" href="#item1" role="tab" aria-controls="item1" aria-selected="true">
      <div class="user-status">
        <span class="status-name">コメント</span>
      </div>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="likes-tab" data-toggle="tab" href="#item2" role="tab" aria-controls="item2" aria-selected="true">
      <div class="user-status">
        <span class="status-name">いいね</span>
        
      </div>
    </a>
  </li>
</ul>