<ul class="nav nav-tabs justify-content-center post-right mt-4">
  <li class="nav-item">
    <a class="nav-link active" id="comments-tab" data-toggle="tab" href="#item1" role="tab" aria-controls="item1" aria-selected="true">
      <div class="user-status">
        <span><%= "コメント#{post.comments.count}件" %></span>
      </div>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="likes-tab" data-toggle="tab" href="#item2" role="tab" aria-controls="item2" aria-selected="true">
      <div class="user-status">
        <span><%= "いいね！#{post.likes.count}件" %></span>
      </div>
    </a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade show active" id="item1" role="tabpanel" aria-labelledby="comments-tab">
    <% if user_signed_in? %>
      <%= render 'comments/form' %>
    <% end %>
    <div class="p-comment__list">
      <div class="p-comment__listTitle py-2 border-bottom" >コメント一覧</div>
      <% if post.comments.any? %>
        <%= render @comments %>   
      <% else %>
        <div class="p-comment__nonitem">まだコメントがありません</div>
      <% end %>
    </div>
  </div>
  <div class="tab-pane fade" id="item2" role="tabpanel" aria-labelledby="likes-tab">
    0件のいいね    
  </div>
</div>