<div class="container pt-4">
  <div class="col text-center">
    <button class="btn btn-default">
    <nav class="nav-notlogin nav nav-pills nav-justified navbar-expand-lg mb-2" >
      <a class="nav-link active" href="#">新着投稿</a>
      <a class="nav-link active" href="#">人気投稿</a> 
    </nav> 
    </button>
  </div>
  <%= render 'index_posts', posts: @posts %>
</div>