@mixin sm { @media (min-width: 576px) { @content; } }
@mixin md { @media (min-width: 768px) { @content; } }
@mixin lg { @media (min-width: 992px) { @content; } }

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 120px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
  background: #fafafa;
  margin: 0;
  display: flex;
  flex-flow: column;
}

.l-header__logo {
  font-family: "Blueberry";
  color:#ffffff;
  text-decoration: none;
}

/* footer */
footer {
  background: #343a40;
  color: #fff;
  text-align: center;
  width: 100%;

 position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
  p {
    font-size: 0.9rem;
    padding: 0.6rem;
    margin-bottom: 0;
  }
}

.hidden {
  display: none;
}

.no-contents {
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.15rem;
  width: 100%;
  margin-top: 80px;
  @include sm {
    height: 320px;
  }
  .no-contents-title {
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
  }
  .no-contents-explanation {
    max-width: 440px;
    padding: 0 30px;
  }
}

.date_range {
  text-align: center;
  margin-top: 14px;
}

